version: "3.9"

services:
  app:
    build: .
    container_name: php83_app
    ports:
      - "80:80"
    volumes:
      - ./src:/var/www/html
    depends_on:
      - db
    networks:
      - appnet

  db:
    image: mysql:8.0
    container_name: mysql8_db
    restart: always
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: myapp
      MYSQL_USER: myuser
      MYSQL_PASSWORD: mypass
    volumes:
      - mysqldata:/var/lib/mysql
    networks:
      - appnet

networks:
  appnet:

volumes:
  mysqldata:

